<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styleCreatePostPage.css">
</head>
<body>
    <%- include('header') %>
    <div class="newPost">
        <form>
            <lable for="title">Title</lable><br>
            <input type="text" id="title"><br><br>
            <lable for="bodyContent">Body Content</lable><br>
            <textarea type="text" id="bodyContent"></textarea><br><br>
            <label class="saveNewPost">Save new Post</label>
        </form>
    </div>
</body>
</html>