<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styleGuestHomePage.css">
</head>
<body>
    <div class="header">
        <h1>OurApp</h1>
        <div>
            <input type="text" id="fname" placeholder="Username">
            <input type="text" id="fname" placeholder="Password">
            <label>Sign In</label>
        </div>
    </div>
    <div class="signup">
        <div class="content">
            <h1>Remember Writing?</h1>
            <p>Are you sick of short tweets and impersonal "shared" posts that are reminiscent of the late 90's email forwards? We believe getting back to actually writing is the key to enjoy internet again.</p>
        </div>
        <div class="signupForm">
            <form>
                <lable for="uname">Username</lable><br>
                <input type="text" id="uname" placeholder="Enter username"><br><br>
                <lable for="email">Email</lable><br>
                <input type="text" id="email" placeholder="Enter email"><br><br>
                <lable for="password">Password</lable><br>
                <input type="text" id="password" placeholder="Create a password"><br><br>
                <div class="signupSubmitButton">Sign up for OurApp</div>
            </form>
        </div>
    </div>
</body>
</html>